body {
    font-family: Arial, sans-serif;
    text-align: center;
}

input {
    margin-top: 10px;
}

button {
    margin-top: 10px;
}

#resultado {
    font-weight: bold;
    margin-top: 10px;
}

#letras-usadas {
    margin-top: 10px;
}




          
  
  
